@charset "utf-8";
/* CSS Document */

img, embed,
object, video {
    max-width: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


body, ul, li, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}
/* ====================== Hamburger and Map Area ====================== */

/*header*/
.title-bar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: black;
}

/*hamburger*/
.hamburger-container {
    width: 10%;
    align-content: center;
    color: lightgray;
}

.fa-bars {
    align-items: center;
    padding: 10px;
}

/*Neighborhood Name*/
.neighborhood-name {
    width: 80%;
    font-size: 20px;
    padding: 8px 0 10px 5px;
    align-content: center;
    margin: 0;
    color: lightgray;
}

/*foursquare icon*/
.fa-foursquare {
    width: 10%;
    color: lightgray;
    align-items: flex-end;
    padding: 10px 0;
}

/* ====================== Menu List ====================== */

nav {
    /*align-items: center;*/
    border-bottom: 2px black solid;
    display: none;
    margin: 0;
    text-align: left;
    flex-direction: column;
    max-width: 50%;
    height: 100%;
    z-index: 1;
    background-color: black;
}

/*List Drawer*/
nav.close {
    /*display: none;*/
    display: flex;
    width: 50%;
    height: 100%;
    position: absolute;
    transform: translate(-1000px, 0);
    transition: transform 1.3s ease;
}

nav.open {
    display: flex;
    width: 50%;
    transform: translate(0,0);
    z-index: 999;
    position: absolute;
    transition: transform 1.3s ease;

}

/*Search bar*/
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: lightgray;
    padding: 12px 20px 12px 10px;
}

ul {
    list-style-type: none;
    padding: 0 0 0 5px;
}

li {
    color: lightgray;
    font-size: 15px;
    padding: 7px;
}

li:hover{
    color: dodgerblue;
}

.selected {
    background-color: green;
}
/* ====================== Map ====================== */


/*map*/

#map{
    height: 100%;
}
/* ====================== Media Queries ====================== */

@media screen and (min-width: 501px) and (max-width: 649px) {
    .title-bar {
        padding: 5px;
    }

    .neighborhood-name {
        font-size: 22px;
    }

    nav.open {
        width: 300px;
    }
}

@media screen and (min-width: 650px) {

    .hamburger-container {
        width: 5%;
    }

    .neighborhood-name {
        padding-left: 20px;
        width: 85%
    }

    .fa-foursquare {
        width: 10%;
        /*padding-right: 5px;*/
    }
    
    nav.open {
        width: 300px;
    }

}
