@charset "utf-8";
/* CSS Document */

img, embed,
object, video {
    max-width: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


body, ul, li, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}
/*header*/
.title-bar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

/*hamburger*/
.hamburger-container {
    width: 15%;
    align-content: center;
}

.fa-bars {
    align-items: center;
    padding: 10px;
}

/*Neighborhood Name*/
.neighborhood-name {
    width: 85%;
    font-size: 18px;
    padding: 0 0 0 10px;
    align-content: center;
    margin: auto;
}

/*Nav Bar*/
nav {
    /*align-items: center;*/
    border-bottom: 2px black solid;
    display: flex;
    flex-direction: row;
    max-width: 30%;
    margin: 0;
    text-align: left;

}

/*List Drawer*/
.offCanvas {
    /*display: none;*/
    width: 150px;
    height: 100%;
    position: absolute;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
}

nav.open {
    transform: translate(0,0);
    z-index: 999;
    position: absolute;
    background-color: #cccccc;
}

/*Search bar*/
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
    font-family: FontAwesome;
}

/*venue list*/
.list-drawer {
    flex-direction: column;
    max-width: 50%;
    height: 100%;
    border: double;
    border-color: red;
    z-index: 1;
}

ul {
    list-style-type: none;
    /*text-align: left;*/
}

.selected {
    background-color: green;
}










/*map*/

#map{
    height: 100%;
}